# App info
app.version=1.0
app.name=Wordle game server
app.description=Wordle game server designed and written by Daniele Zeolla@UniPi
app.author=Daniele Zeolla

# TCP configuration
app.tcp.port=5783

# RMI configuration
app.rmi.port=9876

# Multicast configuration
app.multicast.ip=192.168.2.10
app.multicast.port=54798

# Game settings
app.wordle.wordTime=1